body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div#root{
  height: 100%;
}

.filter1 {
  background-color: #943853;
  border-color: #943853;
}

.filter2 {
  background-color: #FDFB85;
  border-color: #FDFB85;
}

.filter3 {
  background-color: #A5A796;
  border-color: #A5A796;
}

.filter4 {
  background-color: #F2C47B;
  border-color: #F2C47B;
}

.filter5 {
  background-color: #ADCF8C;
  border-color: #ADCF8C;
}

.filter6 {
  background-color: #C8E9F3;
  border-color: #C8E9F3;
}

.filter7 {
  background-color: #D7E575;
  border-color: #D7E575;
}

.filter1:hover, .filter2:hover, .filter3:hover, .filter4:hover, .filter5:hover, .filter6:hover, .filter7:hover{
  color: white;
  background-color: black;
  border-color: black;
}

.episode-tile {
  background-color: #D3D3D3;
  border-color: #D3D3D3;
  font-size: x-small; 
  padding: 9px
}

.dud {
  visibility: hidden;
}

.btn-thematic1 {
  background-color: #8D6EF4;
  border-color: #8D6EF4;
}

.btn-thematic2 {
  background-color: #EB7943;
  border-color: #EB7943;
}

.btn-thematic3 {
  background-color: #D2DED7;
  border-color: #D2DED7;
}

.btn-logobutton-top{
  background-color: black;
  flex: auto;
  border-radius: 0px;
  height: 8vh;
}

.btn-logobutton-bottom{
  background-color: black;
  flex: auto;
  border-radius: 0px;
  height: 6vh;
}

.btn-logobutton-rounded{
  background-color: black;
  flex: auto;
  border-radius: 15px;
  height: 8vh;
}

.stressed {
  text-decoration: underline;
}

.thematic0 {
  background-color: #CFCECE;  
  border-color: #CFCECE;
}

.thematic1 {
  background-color: #8D6EF4;
  border-color: #8D6EF4;
}

.thematic2 {
  background-color: #EB7943;
  border-color: #EB7943;
}

.thematic3 {
  background-color: #D2DED7;
  border-color: #D2DED7;
}

.descselected {
  background-color: black;
}

.btn-descselected, .btn-descselected:hover {
  background-color: black;
  color: white;
}

.axis1 {
  background-color: #943853;
  border-color: #943853;
}

.axis2 {
  background-color: #FDFB85;
  border-color: #FDFB85;
}

.axis3 {
  background-color: #A5A796;
  border-color: #A5A796;
}

.axis4 {
  background-color: #F2C47B;
  border-color: #F2C47B;
}

.axis5 {
  background-color: #ADCF8C;
  border-color: #ADCF8C;
}

.axis6 {
  background-color: #C8E9F3;
  border-color: #C8E9F3;
}

.axis7 {
  background-color: #D7E575;
  border-color: #D7E575;
}

.episode-tile-new {
  background-color: transparent;
  border-color: #D3D3D3;
  color: black;
}

.empty {
  visibility: hidden;
}

.gridsquare {
  height: 15vh;
}

.quote{
  font-style: italic;
  font-size: small;
  background-color: blue;
  color: white;
}

.quote-truncate{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.modal-quote{
  height: 60vh;  
  font-size: xx-large;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: transparent;
  border-color: transparent;
}

.image-square{
  height: 100%;
  width: auto;
}

.btn-close{
  height: 2.5em;
  width: 2.5em;
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/> </svg>"); 
  background-size: 2.5rem 2.5rem;
}

.modal-image{
  color: white;
}

.modal-open .container-fluid, .modal-open .container {
  filter: blur(2px);
  -webkit-filter: blur(2px) grayscale(20%);
}

.p5GUI-container {
  display: flex;
  flex-direction: column;
  width: 33vw;
}

.p5GUI-row {
  display: flex;
  flex: 1;
  gap: 10px;
  justify-content: center;
}

.p5GUI-sliderContainer{
  display: flex;
  gap: 10px;
}

.p5GUI-item {
  /* display: flex; */
  flex: 1;
}

.p5GUI-hide {
  display: none
}

.greyRibbon{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: gray;
}

.p5EpisodeGUI-container {
  display: flex;
  /* width: 100vw; */
  justify-content: space-evenly;
}

.p5EpisodeGUI-row-item {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.p5EpisodeGUI-column-item {
  display: flex;
  margin: auto;
}

.p5EpisodeGUI {
  color: white;
}