.App {
  text-align: center;
  height: 100vh;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  align-content: flex-start;
  row-gap: 2rem;
}

/* canvas {
  display: block;
} */